.flex-container {
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items:flex-end;
  flex-flow :column wrap;
}

.flex-item {
  height:210px;
   display:flex;
   align-items:baseline;
   flex-direction: column;
   flex-wrap: nowrap;
}
.flex-item  > *{
   flex:1 1 30%;
}
 #neural-network-video {
 align-self:center;
}

