.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.child{
    border:1px solid black;
    width:200px;
    height:200px;
}